@import '../../assets//scss/variables';

.CircularProgressbar-path {
    stroke: $primary !important;
  }
  .CircularProgressbar-trail {
    stroke: $bg_grey !important;
  }
  .CircularProgressbar-text {
    fill: $primary !important;
    font-size: 1rem !important;
  }