@import './variables';

@mixin small-screens() {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
  
  @mixin medium-screens() {
    @media only screen and (max-width: 680px) {
      @content;
    }
  }
  
  @mixin large-screens() {
    @media only screen and (max-width: 960px) {
      @content;
    }
  }
  
  @mixin box-shadow($shadows...) {
    box-shadow: $shadows;
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
  }
  
  // might remove if i dont need the border-radius
  @mixin rounded($radius: 10px) {
    border-radius: $radius;
  }
  
  @mixin box($radius: 8px, $border: 1.5px solid $border_primary) {
    @include rounded($radius);
    border: $border;
  }
  