
@font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: normal;
    src: local('Hero-New-Regular'), url('../fonts/Hero-New-Regular.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: normal;
    src: local('Hero-New-Regular-Italic'), url('../fonts/Hero-New-Regular-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 100;
    src: local('Hero-New-Hairline'), url('../fonts/Hero-New-Hairline.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 100;
    src: local('Hero-New-Hairline-Italic'), url('../fonts/Hero-New-Hairline-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 200;
    src: local('Hero-New-Thin'), url('../fonts/Hero-New-Thin.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 200;
    src: local('Hero-New-Thin-Italic'), url('../fonts/Hero-New-Thin-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 300;
    src: local('Hero-New-UltraLight'), url('../fonts/Hero-New-UltraLight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 300;
    src: local('Hero-New-UltraLight-Italic'), url('../fonts/Hero-New-UltraLight-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 400;
    src: local('Hero-New-Light'), url('../fonts/Hero-New-Light.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 400;
    src: local('Hero-New-Light-Italic'), url('../fonts/Hero-New-Light-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 500;
    src: local('Hero-New-Medium'), url('../fonts/Hero-New-Medium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 500;
    src: local('Hero-New-Medium-Italic'), url('../fonts/Hero-New-Medium-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 600;
    src: local('Hero-New-SemiBold'), url('../fonts/Hero-New-SemiBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 600;
    src: local('Hero-New-SemiBold-Italic'), url('../fonts/Hero-New-SemiBold-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 700;
    src: local('Hero-New-Bold'), url('../fonts/Hero-New-Bold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 700;
    src: local('Hero-New-Bold-Italic'), url('../fonts/Hero-New-Bold-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 800;
    src: local('Hero-New-ExtraBold'), url('../fonts/Hero-New-ExtraBold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 800;
    src: local('Hero-New-ExtraBold-Italic'), url('../fonts/Hero-New-ExtraBold-Italic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: normal;
    font-weight: 900;
    src: local('Hero-New-Super'), url('../fonts/Hero-New-Super.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Hero-New';
    font-style: italic;
    font-weight: 900;
    src: local('Hero-New-Super-Italic'), url('../fonts/Hero-New-Super-Italic.woff') format('woff');
    }