$primary: #264abc;
$btn_primary: #264abc;
$btn_secondary: #ffffff;
$text_white: #ffffff;
$text_primary: #264abc;
$text_black: #1a1a1a;
$text_grey: #585858;
$bg_lightgrey: #e0e0e0;
$bg_white: #ffffff;
$bg_black: #000000;
$bg_grey: #c4c4c4;
$bg_primary: #264abc;
$border_black: #000000;
$border_grey: #e4e4e4;
$border_primary: #264abc;

$error_text: #cc0000;

$shadow_color: #0000000F;
